{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Integration",
    "description": "When integrating with the duix-openapi-v2 platform, you must generate access tokens in your own backend.",
    "license": {
      "name": "duix.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://docs.duix.com/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/duix-openapi-v2/sdk/v2/createAvatar": {
      "post": {
        "description": "Create an AI avatar",
        "requestBody": {
          "description": "Avatar to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAvatarRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createAvatarResponses"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "createAvatarRequestBody": {
        "required": ["ttsName", "conversationId"],
        "type": "object",
        "properties": {
          "ttsName": {
            "description": "TTS name, select the public TTS voice. See at Settings -> Avatar creator -> Select voice",
            "type": "string"
          },
          "conversationId": {
            "description": "The conversation ID. Value is required when using public AI avatar Get Conversation ID",
            "type": "string"
          },
          "coverImage": {
            "description": "A value is needed if you are using images to customize your AI avatar. Base64 format, example：data:image/png;base64,iVBORw0KGgoAAAANSUhEUgA",
            "type": "string"
          },
          "defaultSpeakingLanguage": {
            "description": "Default speaking language. default English",
            "type": "string"
          },
          "greetings": {
            "description": "Enter a greeting for your AI avatar’s first words, If not, the system will generate it randomly",
            "type": "string"
          },
          "name": {
            "description": "Enter a name for your AI avatar. If not, the system will generate it randomly",
            "type": "string"
          },
          "profile": {
            "description": "Enter a description of personality and preferences you’d love your AI avatar to have.. If not, the system will generate it randomly",
            "type": "string"
          }
        }
      },
      "createAvatarResponses": {
        "required": ["code", "msg", "success", "data"],
        "type": "object",
        "properties": {
          "code": {
            "description": "Response code.",
            "type": "string"
          },
           "msg": {
            "description": "Response message.",
            "type": "string"
          },
          "success": {
            "description": "Indicates whether the request succeeded.",
            "type": "boolean"
          },
          "data": {
            "description": "Response payload containing avatar details.",
            "type": "object",
            "properties": {
              "taskId": {
                "description": "The task ID of create AI avatar.",
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
